* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid yellow; */
}

body {
    font-family: "Inter", system-ui, sans-serif;
}

.full-screen-background {
    background-image: url("../Assets/banner1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
}

/*  |||||||||||||||||||||||||||||||||------------navbar styling------------||||||||||||||||||||||||||||||||| */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

#logo {
    height: 75px;
    padding-right: 15px;
}

.logogrp {
    display: flex;
    align-items: center;
    color: white;
}

.logotxt h1 {
    font-size: 1.4em;
    margin-left: 8px;
}

.logotxt p {
    font-weight: 200;
    margin-left: 8px;
}

.nav-links {
    display: flex;
    list-style: none;
    font-size: larger;
}

.nav-links li {
    height: 100px;
}

.nav-links p{
    display: flex;
    height: 100%;
    align-items: center;
}

.nav-links a {
    position: relative;
    color: white; /* Text color */
    text-decoration: none;
    padding: 0 20px;
}

.nav-links a:hover {
    color: white; /* Keeping text color the same on hover */
}

.nav-links a::before {
    content: "";
    position: absolute;
    display: block;
    width: 70%; /* Adjust underline width (e.g., 70% of the text width) */
    height: 0.2em; /* Underline thickness */
    bottom: -0.2em; /* Adjust underline offset (distance from the text) */
    left: 50%;
    background-color: #000000; /* Underline color */
    transform: translateX(-50%) scaleX(0); /* Center and scale the underline */
    transform-origin: center; /* Ensure the scaling is from the center */
}

.nav-links-menu a:hover::before {
    transform: translateX(-50%) scaleX(1); /* Expand the underline from the center */
}
.nav-links-menu {
    display: flex;
    list-style: none;
    font-size: larger;
}

.nav-links-menu li {
    height: 100px;
}

.nav-links-menu p{
    display: flex;
    height: 100%;
    align-items: center;
}

.nav-links-menu a {
    position: relative;
    color: white; /* Text color */
    text-decoration: none;
    padding: 0 20px;
}

.nav-links-menu a:hover {
    color: white; /* Keeping text color the same on hover */
}

.nav-links-menu a::before {
    content: "";
    position: absolute;
    display: block;
    width: 70%; /* Adjust underline width (e.g., 70% of the text width) */
    height: 0.2em; /* Underline thickness */
    bottom: -0.2em; /* Adjust underline offset (distance from the text) */
    left: 50%;
    background-color: #000000; /* Underline color */
    transform: translateX(-50%) scaleX(0); /* Center and scale the underline */
    transform-origin: center; /* Ensure the scaling is from the center */
    transition: transform 0.3s ease;
}

.nav-links-menu a:hover::before {
    transform: translateX(-50%) scaleX(1); /* Expand the underline from the center */
    transition: transform 0.3s ease;
}

.menu-toggle, .nav-links-menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

/* Sticky navbar style (when the navbar is sticky) */
.navbar.sticky {
    background-color: black;
    z-index: 1000;
}

/* |||||||||||||||||||||||||||||||||------------ends------------||||||||||||||||||||||||||||||||| */




/* media querries for nav bar mobile view */
@media screen and (max-width: 768px) {
    .nav-links-menu a::before{
        background-color: white;
    }
    .navbar.sticky {
        z-index: 1000;
    }
    .navbar.isticky {
        background-color: black;
        z-index: 1000;
    }
    .menu-toggle {
        display: block;
        margin-right: 12px;
        z-index: 1000;
    }

    .nav-links {
        display: none;
    }
    
    .nav-links-menu {
    z-index: 1100;
    display: none;
    color: #000000;
    position: absolute;
    left: 0;
    right: 0;
    top: 100vh;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.752);
    backdrop-filter: blur(8px);
 } 

  .nav-links-menu.active {
        display: flex;
        z-index: 9999;
    }

    .nav-links-menu li {
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }

    .nav-links-menu a {
        padding: 15px 20px;
        width: 100%;
        z-index: 1000;
    }


    .nav-links-menu a:hover {
        width: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f0f0ff29;
        z-index: 1000;
    }
}



/* |||||||||||||||||||||||||||||||||------------ends------------||||||||||||||||||||||||||||||||| */

/* styling for first section */
.section-1 {
    width: 100%;
    position: relative;
    top: 40vh;
}

.section-1-layer-1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-1-layer-1 p {
    margin-bottom: 8px;
    font-size: 1.8em;
}

.section-1-layer-1 h1 {
    margin-bottom: 8px;
    font-size: 3.5em;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button {
    width: 144px;
    height: 48px;
    margin-left: 16px;
    border-radius: 8px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
.vertical-rule{
    background-color: white;
    margin-left: 12px;
    width: 4px;
    height: 64px;
    margin-bottom: 12px;
}
.social-links{
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}
.social-links svg{
    margin-bottom: 12px;
    width: 30px;
    height: 30px;
}
@media screen and (max-width: 768px) {
    .social-links{
        margin-top: 18px;
    }
    .social-links svg{
        width: 28px;
        height: 28px;
    }
    .section-1-layer-1 p {
        margin-bottom: 8px;
        font-size: 1em;
    }

    .section-1-layer-1 h1 {
        margin-bottom: 8px;
        font-size: 1.8em;
    }

    .buttons button {
        width: 96px;
        height: 36px;
        margin-left: 16px;
        border-radius: 24px;
    }
}

@media screen and (max-width: 400px) {
    .section-1-layer-1 p {
        margin-bottom: 8px;
        font-size: 1em;
    }
    .social-links svg{
        height: 22px;
        width: 22px;
    }
    .social-links{
        margin-top: 48px;
    }
    .section-1-layer-1 h1 {
        margin-bottom: 8px;
        font-size: 1.2em;
    }
}

/* |||||||||||||||||||||||||||||||||------------ends------------||||||||||||||||||||||||||||||||| */


/* |||||||||||||||||||||||||||||||||------------section 2 starts here------------||||||||||||||||||||||||||||||||| */

.section-2{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us{
    width: 90%;
}

.cont{
    padding: 0 8px;
}

.about{
    display: block;
    content: "";
    width: 15.1rem;
    height: 4px;
    background-color: rgba(149, 149, 149, 0.7);
    margin: 6rem auto 2.4rem;
    line-height: 5rem;
    letter-spacing: 10px;
    font-weight: bolder;
    margin-bottom: 7rem;
}

.about-text{
    margin: 4rem 4rem;
    margin-top: 7rem;
    font-size: 19px;
    text-align: justify;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
@media screen and (max-width: 768px) {
    .about-text {
        margin: 1rem;
        margin-top: 3rem;
    }
}

/* |||||||||||||||||||||||||||||||||------------ends------------||||||||||||||||||||||||||||||||| */
.content {
    background-color: white;
    position: relative;
}
