* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid yellow; */
}

body {
    font-family: "Inter", system-ui, sans-serif;
}

.full-screen-background {
    background-image: url("../Assets/banner1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
}

/*  |||||||||||||||||||||||||||||||||------------navbar styling------------||||||||||||||||||||||||||||||||| */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

#logo {
    height: 75px;
    padding-right: 15px;
}

.logogrp {
    display: flex;
    align-items: center;
    color: white;
}

.logotxt h1 {
    font-size: 1.4em;
    margin-left: 8px;
}

.logotxt p {
    font-weight: 200;
    margin-left: 8px;
}

.nav-links {
    display: flex;
    list-style: none;
    font-size: larger;
}

.nav-links li {
    height: 100px;
}

.nav-links p{
    display: flex;
    height: 100%;
    align-items: center;
}

.nav-links a {
    position: relative;
    color: white; /* Text color */
    text-decoration: none;
    padding: 0 20px;
}

.nav-links a:hover {
    color: white; /* Keeping text color the same on hover */
}

.nav-links a::before {
    content: "";
    position: absolute;
    display: block;
    width: 70%; /* Adjust underline width (e.g., 70% of the text width) */
    height: 0.2em; /* Underline thickness */
    bottom: -0.2em; /* Adjust underline offset (distance from the text) */
    left: 50%;
    background-color: #000000; /* Underline color */
    transform: translateX(-50%) scaleX(0); /* Center and scale the underline */
    transform-origin: center; /* Ensure the scaling is from the center */
}

.nav-links-menu a:hover::before {
    transform: translateX(-50%) scaleX(1); /* Expand the underline from the center */
}
.nav-links-menu {
    display: flex;
    list-style: none;
    font-size: larger;
}

.nav-links-menu li {
    height: 100px;
}

.nav-links-menu p{
    display: flex;
    height: 100%;
    align-items: center;
}

.nav-links-menu a {
    position: relative;
    color: white; /* Text color */
    text-decoration: none;
    padding: 0 20px;
}

.nav-links-menu a:hover {
    color: white; /* Keeping text color the same on hover */
}

.nav-links-menu a::before {
    content: "";
    position: absolute;
    display: block;
    width: 70%; /* Adjust underline width (e.g., 70% of the text width) */
    height: 0.2em; /* Underline thickness */
    bottom: -0.2em; /* Adjust underline offset (distance from the text) */
    left: 50%;
    background-color: #000000; /* Underline color */
    transform: translateX(-50%) scaleX(0); /* Center and scale the underline */
    transform-origin: center; /* Ensure the scaling is from the center */
    transition: transform 0.3s ease;
}

.nav-links-menu a:hover::before {
    transform: translateX(-50%) scaleX(1); /* Expand the underline from the center */
    transition: transform 0.3s ease;
}

.menu-toggle, .nav-links-menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

/* Sticky navbar style (when the navbar is sticky) */
.navbar.sticky {
    background-color: black;
    z-index: 1000;
}


/* media querries for nav bar mobile view */
@media screen and (max-width: 768px) {
    .nav-links-menu a::before{
        background-color: white;
    }
    .navbar.sticky {
        background-color: black;
        z-index: 1000;
    }
    .navbar.isticky {
        background-color: black;
        z-index: 1000;
    }
    .menu-toggle {
        display: block;
        margin-right: 12px;
        z-index: 1000;
    }

    .nav-links {
        display: none;
    }
    
    .nav-links-menu {
    z-index: 1100;
    display: none;
    color: #000000;
    position: absolute;
    left: 0;
    right: 0;
    top: 100vh;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.752);
    backdrop-filter: blur(8px);
 } 

  .nav-links-menu.active {
        display: flex;
        z-index: 9999;
    }

    .nav-links-menu li {
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }

    .nav-links-menu a {
        padding: 15px 20px;
        width: 100%;
        z-index: 1000;
    }


    .nav-links-menu a:hover {
        width: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f0f0ff29;
        z-index: 1000;
    }
}



/* |||||||||||||||||||||||||||||||||------------ends------------||||||||||||||||||||||||||||||||| */

/* styling for first section */
.section-1 {
    width: 100%;
    position: relative;
    top: 40vh;
}

.section-1-layer-1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-1-layer-1 p {
    margin-bottom: 8px;
    font-size: 1.8em;
}

.section-1-layer-1 h1 {
    margin-bottom: 8px;
    font-size: 3.5em;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button {
    width: 144px;
    height: 48px;
    margin-left: 16px;
    border-radius: 8px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
.vertical-rule{
    background-color: white;
    margin-left: 12px;
    width: 4px;
    height: 64px;
    margin-bottom: 12px;
}
.social-links{
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}
.social-links svg{
    margin-bottom: 12px;
    width: 30px;
    height: 30px;
}
@media screen and (max-width: 768px) {
    .social-links{
        margin-top: 18px;
    }
    .social-links svg{
        width: 28px;
        height: 28px;
    }
    .section-1-layer-1 p {
        margin-bottom: 8px;
        font-size: 1em;
    }

    .section-1-layer-1 h1 {
        margin-bottom: 8px;
        font-size: 1.8em;
    }

    .buttons button {
        width: 96px;
        height: 36px;
        margin-left: 16px;
        border-radius: 24px;
    }
}

@media screen and (max-width: 400px) {
    .section-1-layer-1 p {
        margin-bottom: 8px;
        font-size: 1em;
    }
    .social-links svg{
        height: 22px;
        width: 22px;
    }
    .social-links{
        margin-top: 48px;
    }
    .section-1-layer-1 h1 {
        margin-bottom: 8px;
        font-size: 1.2em;
    }
}

/* |||||||||||||||||||||||||||||||||------------ends------------||||||||||||||||||||||||||||||||| */


/* |||||||||||||||||||||||||||||||||------------section 2 starts here------------||||||||||||||||||||||||||||||||| */

.section-2{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us{
    width: 90%;
}

.cont{
    padding: 0 8px;
}

.about{
    display: block;
    content: "";
    width: 15.1rem;
    height: 4px;
    background-color: rgba(149, 149, 149, 0.7);
    margin: 6rem auto 2.4rem;
    line-height: 5rem;
    letter-spacing: 10px;
    font-weight: bolder;
    margin-bottom: 7rem;
}

.about-text{
    margin: 4rem 4rem;
    margin-top: 7rem;
    font-size: 19px;
    text-align: justify;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
@media screen and (max-width: 768px) {
    .about-text {
        margin: 1rem;
        margin-top: 3rem;
    }
}

/* |||||||||||||||||||||||||||||||||------------ends------------||||||||||||||||||||||||||||||||| */

/* |||||||||||||||||||||||||||||||||------------FOOTER------------||||||||||||||||||||||||||||||||| */

/* |||||||||||||||||||||||||||||||||------------footer------------||||||||||||||||||||||||||||||||| */

.footer {
    background: #111;
  }
  
  div.container-footer.w-container {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
    padding-bottom: 40px;
    padding-top: 70px;
  }
  
  div.container-footer.w-container:after {
    clear: both;
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  
  div.container-footer.w-container:before {
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  
  div.w-row {
    box-sizing: border-box;
    margin-left: -10px;
    margin-right: -10px;
  }
  
  div.w-row:after {
    clear: both;
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  
  div.w-row:before {
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  
  div.footer-column.w-clearfix.w-col.w-col-4 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    width: 33.3333%;
  }
  
  div.footer-column.w-clearfix.w-col.w-col-4:after {
    clear: both;
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  
  div.footer-column.w-clearfix.w-col.w-col-4:before {
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  
  img.failory-logo-image {
    border-width: 0;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    max-width: 100%;
    vertical-align: middle;
  }
  
  h3.footer-failory-name {
    box-sizing: border-box;
    color: #FFFFFF;
    display: block;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.1em;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 24px;
  }
  
  p.footer-description-failory {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 1.5em;
    margin-bottom: 16px;
    margin-top: 15px;
  }
  
  br {
    box-sizing: border-box;
  }
  
  div.footer-column.w-col.w-col-8 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    width: 66.6667%;
  }
  
  div.w-col.w-col-8 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 66.6667%;
  }
  
  div.w-col.w-col-7.w-col-small-6.w-col-tiny-7 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 58.3333%;
  }
  
  h3.footer-titles {
    box-sizing: border-box;
    color: #FFFFFF;
    display: block;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 24px;
  }
  
  p.footer-links {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 1.8em;
    margin-bottom: 16px;
    margin-top: 2px;
  }
  
  a {
    background-color: transparent;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.2em;
    text-decoration: none;
  }
  
  a:active {
    outline: 0;
  }
  
  a:hover {
    outline: 0;
  }
  
  span.footer-link {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
  }
  
  span.footer-link:hover {
    color: #FFFFFF;
    font-weight: 400;
  }
  
  span {
    box-sizing: border-box;
  }
  
  strong {
    box-sizing: border-box;
    font-weight: 700;
  }
  
  div.w-col.w-col-5.w-col-small-6.w-col-tiny-5 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 41.6667%;
  }
  
  div.column-center-mobile.w-col.w-col-4 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 33.3333%;
  }
  
  a.footer-social-network-icons.w-inline-block {
    background-color: transparent;
    box-sizing: border-box;
    color: #FFFFFF;
    display: inline-block;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.2em;
    margin-right: 8px;
    margin-top: 10px;
    max-width: 100%;
    opacity: .8;
    text-decoration: none;
  }
  
  a.footer-social-network-icons.w-inline-block:active {
    outline: 0;
  }
  
  a.footer-social-network-icons.w-inline-block:hover {
    opacity: 1;
    outline: 0;
  }
  
  img {
    border-width: 0;
    box-sizing: border-box;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
  }
  
  p.footer-description {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 1.5em;
    margin-bottom: 16px;
    margin-top: 15px;
  }
  
  strong.link-email-footer {
    box-sizing: border-box;
    font-weight: 700;
  }
/* |||||||||||||||||||||||||||||||||------------ends------------||||||||||||||||||||||||||||||||| */


/* |||||||||||||||||||||||||||||||||------------ends------------||||||||||||||||||||||||||||||||| */

.content {
    background-color: white;
    position: relative;
}
