* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid yellow; */
}

body {
    font-family: "Inter", system-ui, sans-serif;
}

.full-screen-background {
    background-image: url("../Assets/banner1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    height: 100vh;
    overflow-x: hidden;
}

/*  |||||||||||||||||||||||||||||||||------------navbar styling------------||||||||||||||||||||||||||||||||| */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

#logo {
    height: 75px;
    padding-right: 15px;
}

.logogrp {
    display: flex;
    align-items: center;
    color: white;
}

.logotxt h1 {
    font-size: 1.4em;
    margin-left: 8px;
}

.logotxt p {
    font-weight: 200;
    margin-left: 8px;
}

.nav-links {
    display: flex;
    list-style: none;
    font-size: larger;
}

.nav-links li {
    height: 100px;
}

.nav-links p{
    display: flex;
    height: 100%;
    align-items: center;
}

.nav-links a {
    position: relative;
    color: white; /* Text color */
    text-decoration: none;
    padding: 0 20px;
}

.nav-links a:hover {
    color: white; /* Keeping text color the same on hover */
}

.nav-links a::before {
    content: "";
    position: absolute;
    display: block;
    width: 70%; /* Adjust underline width (e.g., 70% of the text width) */
    height: 0.2em; /* Underline thickness */
    bottom: -0.2em; /* Adjust underline offset (distance from the text) */
    left: 50%;
    background-color: #000000; /* Underline color */
    transform: translateX(-50%) scaleX(0); /* Center and scale the underline */
    transform-origin: center; /* Ensure the scaling is from the center */
    transition: transform 0.3s ease;
}

.nav-links a:hover::before {
    transform: translateX(-50%) scaleX(1); /* Expand the underline from the center */
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

/* Sticky navbar style (when the navbar is sticky) */
.navbar.sticky {
    background-color: rgba(0, 0, 0, 0.426);
    backdrop-filter: blur(8px);
    z-index: 1000;
}

/* |||||||||||||||||||||||||||||||||------------ends------------||||||||||||||||||||||||||||||||| */




/* media querries for nav bar mobile view */
@media screen and (max-width: 768px) {
    .nav-links {
        z-index: 1100;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        flex-direction: column;
        transition: all 0.3s ease;
        background-color: rgba(0, 0, 0, 0.426);
     }

    .menu-toggle {
        display: block;
        margin-right: 12px;
        z-index: 1000;
    }

    .nav-links.active {
        display: flex;
        z-index: 9999;
       
    }

    .nav-links li {
        height: auto;
        width: 100%;
        display: flex;
        z-index: 1000;
    }

    .nav-links a {
        padding: 15px 20px;
        width: 100%;
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }


    .nav-links a:hover {
        background: #f0f0ff29;
        z-index: 1000;
    }
}



/* |||||||||||||||||||||||||||||||||------------ends------------||||||||||||||||||||||||||||||||| */

/* styling for first section */
.section-1 {
    width: 100%;
    position: relative;
    top: 40vh;
}

.section-1-layer-1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-1-layer-1 p {
    margin-bottom: 8px;
    font-size: 1.8em;
}

.section-1-layer-1 h1 {
    margin-bottom: 8px;
    font-size: 3.5em;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button {
    width: 144px;
    height: 48px;
    margin-left: 16px;
    border-radius: 8px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
.vertical-rule{
    background-color: white;
    margin-left: 12px;
    width: 4px;
    height: 64px;
    margin-bottom: 12px;
}
.social-links{
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}
.social-links svg{
    margin-bottom: 12px;
}
@media screen and (max-width: 768px) {
    .social-links{
        margin-top: 18px;
    }
    .section-1-layer-1 p {
        margin-bottom: 8px;
        font-size: 1em;
    }

    .section-1-layer-1 h1 {
        margin-bottom: 8px;
        font-size: 1.8em;
    }

    .buttons button {
        width: 96px;
        height: 36px;
        margin-left: 16px;
        border-radius: 24px;
    }
}

@media screen and (max-width: 400px) {
    .section-1-layer-1 p {
        margin-bottom: 8px;
        font-size: 1em;
    }
    .social-links svg{
        height: 22px;
        width: 22px;
    }
    .social-links{
        margin-top: 48px;
    }
    .section-1-layer-1 h1 {
        margin-bottom: 8px;
        font-size: 1.2em;
    }
}

/* |||||||||||||||||||||||||||||||||------------ends------------||||||||||||||||||||||||||||||||| */

.content {
    background-color: white;
    position: relative;
}
